  <!-- Début FAQ-->
  <div class="container" id="container-faq-contact" >
    <h1 class="text-uppercase">Aide & Support - FAQ Festival Nation Sound</h1>
    <div>
        <h2 class="text-uppercase">Billeterie</h2> 
            <div class="card" id="question1" >
                <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer1">
                    <h3 class="text-uppercase h5" >Comment puis-je acheter des billets?</h3>
                    <span class="toggle-icon" ></span>
                </div>
                <div id="answer1" class="collapse"  >
                    <div class="card-body">
                        <p>Pour acheter vos billets,<a href="simulationTicket.html" target="_blank" rel="noopener"> cliquez ici</a>.</p>
                    </div>
                </div>
            </div>
   
        <div class="card" id="question2" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer2">
                <h3 class="mb-0 text-uppercase h5">Quels types de billets sont disponibles?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer2" class="collapse"  >
                <div class="card-body">
                    <p>Nous proposons plusieurs types de billets, y compris les billets d'une soirée, les passes de week-end, les billets VIP et les forfaits groupe. Vous trouverez les détails et les prix sur notre page de billetterie.<a href="simulationTicket.html" target="_blank" rel="noopener"> cliquez ici</a>.</p>
                </div>
            </div>
        </div>

        <div class="card" id="question3" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer3">
                <h3 class="mb-0 text-uppercase h5">Comment vais-je recevoir mes billets après l'achat?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer3" class="collapse"  >
                <div class="card-body">
                    <p>Après votre achat, vous recevrez un e-mail de confirmation contenant vos billets électroniques en pièce jointe. Vous pouvez les imprimer ou les présenter directement sur votre smartphone à l'entrée du festival.</p>
                </div>
            </div>
        </div>

        <div class="card" id="question4" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer4">
                <h3 class="mb-0 text-uppercase h5">Que dois-je faire si je ne reçois pas mes billets par e-mail?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer4" class="collapse"  >
                <div class="card-body">
                    <p>Si vous ne recevez pas vos billets dans les 24 heures suivant l'achat, veuillez vérifier votre dossier de spam. Si vous ne les trouvez toujours pas, contactez notre service client via le formulaire ci-dessous.<a href="#contact"> cliquez ici</a>.</p>
                </div>
            </div>
        </div>
        <div class="card" id="question5" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer5">
                <h3 class="mb-0 text-uppercase h5">Puis-je annuler ou obtenir un remboursement pour mes billets?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer5" class="collapse"  >
                <div class="card-body">
                    <p>Malheureusement, les billets ne sont ni échangeables ni remboursables, sauf en cas d'annulation de l'événement.</p>
                </div>
            </div>
        </div>
        <div class="card" id="question6" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer6">
                <h3 class="mb-0 text-uppercase h5">Puis-je transférer mes billets à quelqu'un d'autre?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer6" class="collapse"  >
                <div class="card-body">
                    <p>Oui, les billets sont transférables. Vous pouvez transférer vos billets en suivant les instructions sur notre site de billetterie.<a href="simulationTicket.html" target="_blank" rel="noopener"> cliquez ici</a>.</p>
                </div>
            </div>
        </div>
    </div>


    <div>
        <h2 class="text-uppercase">Parking</h2>
        <div class="card" id="question7" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer7">
                <h3 class="mb-0 text-uppercase h5">Y a-t-il un parking disponible sur le site du festival?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer7" class="collapse"  >
                <div class="card-body">
                    <p>Oui, un parking est disponible sur le site du festival. Nous offrons des espaces de stationnement pour les voitures, les motos et les vélos.</p>
                </div>
            </div>
        </div>

        <div class="card" id="question8"  >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer8">
                <h3 class="mb-0 text-uppercase h5">Comment puis-je réserver une place de parking?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer8" class="collapse"  >
                <div class="card-body">
                    <p>Vous pouvez réserver une place de parking en ligne via notre site de billetterie. Sélectionnez l'option de parking lors de l'achat de vos billets pour le festival.<a href="simulationTicket.html" target="_blank" rel="noopener"> cliquez ici</a>.</p>
                </div>
            </div>
        </div>

        <div class="card" id="question9" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer9">
                <h3 class="mb-0 text-uppercase h5">Y a-t-il des places de parking réservées pour les personnes handicapées?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer9" class="collapse"  >
                <div class="card-body">
                    <p>Oui, nous disposons de places de parking réservées pour les personnes handicapées. Veuillez indiquer vos besoins lors de la réservation pour vous assurer d'obtenir une place appropriée.</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="text-uppercase">Services</h2>
        <div class="card" id="question10" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer10">
                <h3 class="mb-0 text-uppercase h5">Y aura-t-il des stands de nourriture et de boissons au festival?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer10" class="collapse"  >
                <div class="card-body">
                    <p>Oui, il y aura une variété de stands de nourriture et de boissons disponibles sur le site du festival.</p>
                </div>
            </div>
        </div>

        <div class="card" id="question11"  >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer11">
                <h3 class="mb-0 text-uppercase h5">Puis-je apporter ma propre nourriture et mes boissons au festival?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer11" class="collapse"  >
                <div class="card-body">
                    <p>Pour des raisons de sécurité et de réglementation, il est interdit d'apporter des boissons alcoolisées et de la nourriture de l'extérieur. Cependant, des exceptions peuvent être faites pour des besoins alimentaires spécifiques pour des raisons médicales.</p>
                </div>
            </div>
        </div>

        <div class="card" id="question12" >
            <div class="card-header d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#answer12">
                <h3 class="mb-0 text-uppercase h5">Comment puis-je payer pour la nourriture et les boissons sur le site du festival?</h3>
                <span class="toggle-icon" ></span>
            </div>
            <div id="answer12" class="collapse"  >
                <div class="card-body">
                    <p>Tous les stands de nourriture et de boissons acceptent les paiements en espèces et par carte. Des options de paiement sans contact seront également disponibles pour plus de commodité.</p>
                </div>
            </div>
        </div>
    </div>
<!-- Fin FAQ-->


