<!-- Conteneur pour le fond blobs -->
<div class="background">
    <img class="blob-image" src="assets/images/blobs_6_optimized_.png" alt="Background Blobs">
</div>


<!-- Début de la bare de navigation-->
<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="logo-button px-3"> 
      <a routerLink="/">
        <img src="assets/images/logo3_optimized_.png" alt="Logo Nation Sound" class="logo-img">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Ouvrir le menu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav px-4">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/programmes">Programmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="simulationTicket.html" target="_blank" rel="noopener">Billet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/partenaires">Partenaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carte">Carte</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- Fin de la bare de navigation-->