<div class="container" id="titre-carte">
    
    <article class="col-6 mx-auto ">
        <h1 class="mb-4 text-uppercase fw-bold">Explorez notre carte interactive</h1>
        <p class="extra-text">Trouvez rapidement les scènes où se déroulent les spectacles, les restaurants, ainsi que les installations sanitaires pour assurer votre confort.</p>
        <p class="extra-text">Notre carte interactive est votre compagnon idéal pour naviguer dans l'univers passionnant de notre festival.</p>
    </article>
</div>



<div class="container" >
    <div id="container-filter">
        <label for="filter"></label>
        <select id="filter" class="text-uppercase fw-bold" aria-label="options">
            <option value="all">Tous</option>
            <option value="scene">Scènes</option>
            <option value="restaurant">Restaurants</option>
            <option value="wc">WC</option>
        </select>
    </div>
    <div id="container-carte">
        <div id="map" data-map-id="1">
        </div>
    </div>
</div>

